body {
    background-color: #1b1d21;
    font-family: 'Raleway';
}
h1 {
    margin: 30px auto 20px 20px;
    color: white;
    font-family: 'Raleway';
}

h3 {
    color: white;
}

table, th, td {
    border-bottom: 1px solid #ddd;
}

table {
    margin: 0 10% 60px 10%;
    border-collapse: collapse;
}

th {
    background-color: #4434aa;
    padding: 10px;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #B8C3DB;
}

tr:hover {
   background-color: #aaaaaa; 
}

td {
    padding: 10px;
}

a {
    display: inline-block;
    width: 120px;
    text-align: center;
    background-color: #816dff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5%;
    color: white;
}

a:hover {
    background-color: red;
}

button {
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
    color: white; 
    background-color: #3d495b;
}

button:hover {
    background-color: red;
}

footer {
    color: white;
}

.logo {
    height: 50px;
    width: 50px;
}

.sorting {
    margin: 0 0 10px 10%;
}

#loadText {
    text-align: center;
}


